%footer.row
	.span4
		Powered by Heroku
	.span4
		%p Fernando Perales
		%i.icon-twitter
			=link_to ' @FerPeralesM', "http://twitter.com/FerPeralesM", :target => "_blank"
		|
		=link_to ' FerPerales', "http://github.com/FerPerales", :target => "_blank"
		%i.icon-github  
	.span4
		=link_to 'Rails', "http://rubyonrails.org/"
		+
		=link_to 'bootstrap', "http://twitter.github.com/bootstrap"		
		+
		=link_to 'HAML', "http://haml.info/"		
		+
		=link_to 'Font awesome', "http://fortawesome.github.com/Font-Awesome/"
		
