%footer.row
	.span4
		Powered by Heroku
	.span4
		%p (c) Fernando Perales
		%p
			=link_to raw('<i class="icon-twitter"> @FerPeralesM</i> '), "http://twitter.com/FerPeralesM", :target => "_blank"
		%p
			=link_to raw('<i class="icon-github"> FerPerales</i> '), "http://github.com/FerPerales", :target => "_blank"
	.span4
		Rails + HAML + bootstrap
