%h1 Editing task

= render 'form'

= link_to raw("<i class='icon-search' title='View this entry'></i>"), @task
= link_to raw("<i class='icon-chevron-left' title='Back to task list'></i>"), tasks_path


